@model AllDegustationQueryModel

@{
    ViewBag.Title = "Wine Tasting";
}

<div class="container">
    <div class="row">
        <div class="md-5">
            <h3 class="text-white text-center mt-3">Book a Degustation!</h3>
            <ul class="list-group ">
                @foreach (var degustation in Model.Degustations)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center mt-2 mb-2">
                        <div class="image-parent2">
                            <img src="~/Images/Header8.jpg" class="img-fluid">
                        </div>
                        <div class="card-body text-center">
                            <h5>@degustation.Name</h5>
                            <div><b>Description: </b>@degustation.Description</div>
                            <div><b>Address: </b>@degustation.Address</div>
                            <div><b>Date: </b>@degustation.DateTime</div> 
                            <div><b>Available seats: </b>@degustation.BookSeats/@degustation.Seats</div>
                            @if (User.IsInRole("Administrator"))
                            {
                                <a asp-controller="Degustations" asp-area="Admin" asp-action="Edit" asp-route-id="@degustation.Id" class="btn btn-red mt-2">Edit</a>
                                <a asp-controller="Degustations" asp-area="Admin" asp-action="Delete" asp-route-id="@degustation.Id" class="btn btn-red mt-2">Delete</a>
                            }
                            else
                            {
                                <a asp-controller="Degustations" asp-area="" asp-action="Book" asp-route-id="@degustation.Id" class="btn btn-red mt-2">Book</a>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


@{
    var previousPage = Model.CurrentPage - 1;

    if(previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalDegustation / AllDegustationQueryModel.DegustationPerPage);
}

<div class="row mb-3 mt-3">
     <div class="col-md-3">
         <a class="btn btn-red @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
         asp-area=""
         asp-controller="Degustations" 
         asp-action="Degustations" 
         asp-route-currentPage="@previousPage">Previous</a>
     </div>
    <div class="col-md-6 text-center">
        <span>
            @Model.CurrentPage / @maxPage
        </span>
    </div>
       <div class="col-md-3">
         <a class="btn btn-red float-end @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)" 
          asp-area=""
         asp-controller="Degustations" 
         asp-action="Degustations" 
         asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
     </div>
</div>


