@model AllProductQueryModel

<form method="get">
    <div class="row mt-3 mb-2">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Name, Sort, etc...">
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Manufacture</option>
                    <option value="1" selected>Price</option>
                    <option value="2" selected>Year</option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-red mt-2 mb-3 d-none">
    </div>
</form>


<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 mt-3">
            <div class="card">
                <img src="@product.ImageUrl" class="card-img-top all-page-product-image" alt="@product.Name @product.YearOfManufacture - @product.Price (@product.Category)">
                <div class="card-body text-center">
                    <h5 class="card-title">@product.Name @product.YearOfManufacture (@product.Category)</h5>
                    @if(User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-red">Edit</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-red">Delete</a>
                    }
                    else
                    {
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-red">Details</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@{
    var previousPage = Model.CurrentPage - 1;

    if(previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalProducts / AllProductQueryModel.ProductPerPage);
}

<div class="row mb-3 mt-3">
     <div class="col-md-3">
         <a class="btn btn-red @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
         asp-controller="Products" 
         asp-action="All" 
         asp-route-currentPage="@previousPage">Previous</a>
     </div>
    <div class="col-md-6 text-center">
        <span>
            @Model.CurrentPage / @maxPage
        </span>
    </div>
       <div class="col-md-3">
         <a class="btn btn-red float-end @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)" 
         asp-controller="Products" 
         asp-action="All" 
         asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
     </div>
</div>


   


